.sidebar {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 2em;
  color: white;
}

.sidebar-header {
  font-size: 2rem;
}

.sidebar-header, .sidebar-nav-tasks {
  margin-bottom: 2em;
}

.sidebar-nav-tasks, .sidebar-nav-projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
}

.sidebar-nav-item, .sidebar-nav-project {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.nav-item-icon, .trash-nav-icon, .new-project-btn {
  width: .8em;
}

.trash-nav-icon {
  margin-left: 10px;
}

.new-project-container {
  display: flex;
  gap: 10px;
}

.new-project-input {
  width: 12em;
  height: 2em;
}

.new-project-btn {
  cursor: pointer;
}