@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
         url('./fonts/Nunito/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(17,24,39);
  --secondary-color: rgb(31,41,55);
  --accent-color: rgb(73, 100, 158);
}

body {
  font-family: 'Nunito', sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: white;
}

.sidebar {
  background-color: var(--secondary-color);
  padding: 2em;
}

.sidebar h1 {
  margin-bottom: 4rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

ul li {
  list-style: none;
  display: flex;
  gap: 5px;
}

.sidebar-nav-item, .sidebar-nav-project {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: .4em;
  font-size: 1.3rem;
  border-radius: 5px;
  width: 100%;
}

.sidebar-nav-item:hover,
.sidebar-nav-project:hover {
  background-color: #49649e;
}

.sidebar-nav-item::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}

.add-task::before {
  background-image: url(./components/icons/plus-solid.svg);
}

.today::before {
  background-image: url(./components/icons/calendar-day-solid.svg);
}

.upcoming::before {
  background-image: url(./components/icons/calendar-days-solid.svg);
}

.important::before {
  background-image: url(./components/icons/circle-exclamation-solid.svg);
}

.completed::before {
  background-image: url(./components/icons/calendar-check-regular.svg);
}

.open-folder::before {
  background-image: url(./components/icons/folder-open-solid.svg);
}

.add-project-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.new-project-input {
  display: inline-block;
  height: 35px;
  padding: 10px;
}

.new-project-btn {
  font-size: 2rem;
}

.new-project-btn:hover {
  background-color: var(--accent-color);
}

main {
  padding: 3em;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .priorities {
  display: flex;
  gap: 2rem;
}

.main-header span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.high-priority::before {
  background-color: red;
}

.medium-priority::before {
  background-color: yellow;
}

.low-priority::before {
  background-color: #04ff04;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.task-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-color);
  border-radius: 10px;
  padding-left: 40px;
}

.task-card::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 40px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.upper-section {
  display: flex;
  gap: 25px;
}

.rounded-checkbox {
  position: relative;
}

.rounded-checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  position: absolute;
  top: 0;
  width: 28px;
}

.rounded-checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  position: absolute;
  left: 7px;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.rounded-checkbox input {
  visibility: hidden;
}

.rounded-checkbox input:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.task-description, .due-date {
  margin-left: 2.4rem;
}

.right-section {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-actions {
  display: flex;
  gap: 1em;
}

.edit-btn:hover svg path, .delete-btn:hover {
  fill: white;
}

.task-description {
  width: 110ch;
  overflow-wrap: break-word;
}

.project-name {
  font-size: 1.2rem;
}

dialog {
  padding: 2rem 4rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  font-size: large;
  font-weight: 900;
}

label, input {
  display: block;
}

label {
  margin-bottom: .2em;
}

form input:not(.new-project-input), textarea, select {
  margin-bottom: 1em;
  padding: .5em;
}

.form-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1em;
}

.form-btn {
  padding: 1em;
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-size: 1rem;
}

.form-btn:hover {
  background-color: var(--accent-color);
}

::backdrop {
  backdrop-filter: brightness(0.5);
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
}

button, select, option {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}